.comment{
    /* font-size: 15px;
    background-color: #D9D9D9;
    display: flex;
    height: 293px;
    width: 1047px; */

}
.comment .picture{
    /* height: 100px;
    
    border-radius: 50%; */
    
}